/* Start Font*/
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
/* End Font*/

/* Start Body */
body{
    background-color: white;
    color: #0C0B0B  ;
    font-family: Baloo-Bhai, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
/*  End Body */

/* Start Debug */
.bg-blue {
    background-color: blue
}

.bg-red {
    background-color: red
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%
}
/* End Container */

/* Start Logo*/
.logo{
    text-align: center;
}
/* End Logo*/

/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color: #0366d6;
    text-decoration: none;
}
a:hover,
a:active {
    color: black;
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/*Start Menu Primer*/
.menu-primer ul {
    text-align: center;
    background-color: #095fb6;
    border-radius: 4px;
    box-shadow: rgb(32, 34, 34);
}

.menu-primer li {
    border-right: 1px solid black;
    display: inline-block
}

.menu-primer a {
    color: white;
    display: inline-block;
    font-size: 13px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: azure;
    color: black;
    text-decoration: none;
}

.menu-primer .active {
    background-color: azure;
    color: black;
    text-decoration: none;
}
/*End Menu Primer*/

/* Start Heiding */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* Start Heiding */

/* Start Jumbotron*/
.jumbotron {
    background-color: #f6f8fa;
    border: 1px solid #eaecef;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 20px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 32px;
    padding: 0 20px;
}
/* End Jumbotron*/

/* Start Main*/
.main-home-one {
    float: left;
    width: 49%;
}
.main-home-two {
    float: right;
    width: 49%;
}

 .main-home-one .box-isi,
 .main-home-two .box-isi {
     height: 140px;
 }
/* End Main*/

/* Start Box */
.box-heading {
    background-color: #095fb6;
    border: 1px solid #d1d5da;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: #4797e7;
    border: 1px solid #eaecef;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/* Start Box */

/* Start Copyright */
.copyright p {
    font-size: 15px
}
/* End Copyright */
